../.DS_Store
../3x_Coverage_plot.png
../Data/
../De_novo_mut-father_age.png
../Week 2/.DS_Store
../Week 2/Week2_script_e2.ipynb
../Week 2/chr1_exons2.bed
../Week 2/chr1_snps/.DS_Store
../Week 2/snp_counts.txt
../Week 2/week2_ex2_code.ipynb
./
../Week1_HW.R
../Week3/
../d4/.DS_Store
../d4/.Rapp.history
../d4/GTEx_Analysis_2017-06-05_v8_RNASeQCv1.1.9_gene_tpm.gct
../d4/GTEx_Analysis_v8_Annotations_SampleAttributesDS.txt
../d4/README.md
../d4/Untitled-1
../ex1_3x_cov.png
../snp_density_enrichment_plot.png
../snp_density_enrichment_raw_plot.png
../temp/	
../week1/Code.py
../week1/coverage_10x.txt
../week1/coverage_30x.txt
../week1/coverage_3x.txt
../week1/edges.txt
../week5/